@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center  ">

    <div class="bg-super-secondary mb-3">
        <h1 class="display-2 super-font ">Superhero Fans Unite!</h1>
    </div>
    <div class="container ">
        <div class="row mt-4">
            <div class="col-sm-3">
                <img src="~/images/Ace.png" alt="Ace Rimmer" class="img-fluid img-rimmer" />
            </div>
            <div class="col-sm-9">
                <div class="card card-rimmer bg-super-primary">
                    <div class="card-title bg-super-secondary py-2 mb-0 super-font">
                        <h3>Ace Rimmer</h3>
                    </div>
                    <div class="card-body card-body-rimmer bg-super-primary">
                        <p class="lead">What a guy. A man after my own heart. Identical to his alter ego/alternate universe self with one exception. Where his misshapen, often clumsy, incompetent, over confident, zealous, manipulative, and easily frightened alter self went forward in school, he was held back after being the worst in his class. And that moment, he became the man he was meant to be. It thickened his skin and made him work all that much harder, what a guy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
